{% extends "base.html" %}
{% set active_page = "docs" %}
{% block title %}Recommendation Demo REST API Service{% endblock %}
{% block head %}
    {{ super() }}
    <style type="text/css">
        .important { color: #336699; }
        .fluidMedia {
            position: relative;
            padding-bottom: 56.25%; /* proportion value to aspect ratio 16:9 (9 / 16 = 0.5625 or 56.25%) */
            padding-top: 30px;
            height: 0;
            overflow: hidden;
        }

        .fluidMedia iframe {
            position: absolute;
            top: 0; 
            left: 0;
            width: 100%;
            height: 100%;
        }
    </style>
    
{% endblock %}
{% block content %}
    <div class="fluidMedia">
        <iframe src="/apidocs/" frameborder="0"> </iframe>
    </div>
{% endblock %}
